body
{
    font-family: "Comic Sans MS", sans-serif;
    background-image: url("image/im.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: black;
}
h1
{
    text-align: center;
    text-shadow: 0 0 10px black;
}
fieldset
{
    background-color: rgba(199, 157, 19, 0.5);
    border: 2px solid white;
    padding: 12px;
    margin: 15px;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 0 20px rgb(193, 157, 14);
}
fieldset legend
{
    
    background :linear-gradient(to right ,rgb(239, 209, 154),rgb(70, 65, 65));
    padding: 12px 25px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 0 10px black;
}
table
{
    
    width: 100%;
}
table>td
{
    font-size: 30px;
    padding: 2px;
    width: 130px;
    height: 30px;
}
input[type="text"],textarea
{

    margin: 2px;
    font-size: 18px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
}
textarea
{
    margin: 3px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 210px;
    height: 100px;
}
input[type="text"]:focus,textarea:focus

{
    background-color: rgba(18, 72, 222, 0.5);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
